<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body class="body">
  <% include ./partials/_adminheader.ejs %>
  <div id="table-container">
  <div id="table">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Paquetes</div>

  <!-- Table -->
    <table class="table">
        <tr>
      <td>ID</td>
     <td>Fletera</td>
     </tr>
    <% for(var i=0; i<fleteras.length; i++) {%>
    <tr>
      <td><%= fleteras[i].fletera_id %></td>
      <td><%= fleteras[i].nombre %></td>
      <td><a href="fleteras/<%= fleteras[i].id %>"><span class="glyphicon glyphicon-edit"></span></a></td>
      <td><a href="fleteras/<%= fleteras[i].id %>"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
     </tr>
    <% } %>
    </table>
  </div>
</div>
</body>
</html>
