<html>
<head>
  <meta charset="UTF-8">
  <title>Nueva Fletera</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body class="body">
 <% include ./partials/_adminheader.ejs %>
<div id="content-container">
  <div class="panel panel-default signup">
      <div class="panel-body signup-form-container" >
        <form action="/nuevafletera" method="post">
          <label for="nombre"><p>Nombre</p></label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre">
          <button class="btn btn-success">Agregar</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
